# API Configuration
PETSTORE_API_URL=https://petstore.swagger.io/v2
# PETSTORE_API_KEY=api-key-here  # Optional: Add if needed


# UI Configuration
SAUCE_URL=https://www.saucedemo.com
STANDARD_USER=standard_user
LOCKED_OUT_USER=locked_out_user
PASSWORD=secret_sauce

# Test Execution
HEADLESS=false
LOG_LEVEL=info
